<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.tungdv.subjectmanager">

    <application
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.SubjectManager">
        <activity
            android:name=".DetailTermActivity"
            android:label="Add Subjects"
            android:exported="true" />
        <activity
            android:name=".DetailSubjectActivity"
            android:label="Add Subjects"
            android:exported="true" />
        <activity
            android:name=".AddSubjectsActivity"
            android:exported="true"
            android:label="Add Subjects" />
        <activity
            android:name=".AddTermActivity"
            android:exported="true"
            android:label="Add Term" />
        <activity
            android:name=".SubjectsManagerActivity"
            android:allowBackup="true"
            android:exported="true"
            android:label="SUBJECT MANAGER" />
        <activity
            android:name=".TermManagerActivity"
            android:allowBackup="true"
            android:exported="true"
            android:label="TERM MANAGER" />
        <activity
            android:name=".MainActivity"
            android:allowEmbedded="true"
            android:exported="true"
            android:label="Term And Subjects Manager">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>